---
---

@import "{{ site.theme }}";


// Darken
body {
  color: #161a1b; // Darkened from #606c71
}

// Re-style blockquote
.main-content blockquote {
  color: inherit;
  background: #dfedf2 none;
  border-radius: 0.5em;
  margin: 0;
  padding: 1.2em;
  border: 0.1em solid currentColor;
}

// Un-darken 'maintained by' in footer
.site-footer-owner {
  color: #606c71;
}

// Hide nearly-pointless skip to content link
#skip-to-content:not(:focus) {
  opacity: 0;
}
